.delete-container {
  display: flex;
  box-shadow: 7px 10px 5px 5px rgb(0, 0, 0);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.update {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  background-color: white;
  box-shadow: 0px 0px 1px 0px rgb(0, 0, 0);
  margin: 0.5rem 0;
  border-radius: 3px;
}

.todo-list1 {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.edit-input {
  border: none;
  outline: none;
  background-color: transparent;
  margin-bottom : 0.5rem;
}


.todo-options {
  display: flex;
  align-items: center;
  padding: 0.6rem 0.5rem 0.6rem 1rem;
  background-color: white;
  box-shadow: 0px 0px 1px 0px rgb(0, 0, 0);
  margin: 0.8rem 0;
  border-radius: 3px;
  font-size: 1.2rem;
  border: none;
  text-align: left;
}

.options-selected-todo {
  display: flex;
  align-items: center;
  padding: 0.6rem 0.5rem 0.6rem 1rem;
  background-color: white;
  box-shadow: 0px 0px 1px 0px rgb(0, 0, 0);
  margin: 0.8rem 0;
  border-radius: 3px;
  font-size: 1.2rem;
  border: none;
  text-align: left;
  color: rgb(0, 152, 194);
}

.todo-options:hover,
.options-selected-todo:hover {
  background-color: rgb(245, 245, 245);
}

.delete-container1 {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem 1rem 1rem;
  border-top: 1px solid #9a9a9a;
  margin: 0.5rem 1rem;
}

.delete-btn {
  border: none;
  background-color: rgb(245, 245, 245);
  /* color : #4169E1; */
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.2rem;
}
