.delete-container {
  box-shadow: 7px 10px 5px 5px rgb(0, 0, 0);
}

.update {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  background-color: white;
  box-shadow: 0px 0px 1px 0px rgb(0, 0, 0);
  margin: 0.5rem 0;
  border-radius: 3px;
}

.todo-list1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo-options {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  background-color: white;
  box-shadow: 0px 0px 1px 0px rgb(0, 0, 0);
  margin: 0.5rem 0;
  border-radius: 3px;
  font-size: 1.2rem;
  border: none;
  text-align: left;
}

.todo-options:hover {
  background-color: rgb(245, 245, 245);
}
