header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0;
  background-color: #009fdf;
}
.To-do-icon {
  margin-left: 1rem;
  text-decoration: none;
  color: rgb(223, 223, 223);
  font-weight: 500;
  flex-grow: 1;

}

.search-container {
  flex-grow: 1;
  margin-left : 5rem;
}

.search-bar {
  padding: 0.3rem 1.5rem;
  border-radius: 3px;
  background-image: url("search-icon.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 5px 5px;
  border: none;
  outline: none;
}

/* .search-bar:focus{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
} */

.light-dark-mode {
  margin-right: 1rem;
  font-size: 24px;
  cursor: pointer;
  flex-grow: 0;
  text-align: right;
}

.user-flex {
  flex-grow: 0;
}

.user-container {
  display: flex;
  cursor: pointer;
}

.user-icon {
  color: #262626;
  font-size: 20px;
}

.user-name {
  margin: 0.05rem 0.5rem;
  color: rgb(223, 223, 223);
  /* margin-bottom: 0.5rem; */
}

.logout-model{
  position: absolute;
  top: 50px;
  right : 3px;
  background-color:  #181A1B;
  box-shadow: 0px 0px 1px 0px rgb(0, 0, 0);
  border: 1px solid #e7edf0;
  border-radius: 5px;
  padding: 1rem;
}

.logout-buttons{
  color: aliceblue;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.logout-buttons:hover{
  color: rgb(254, 62, 58);
}
