header {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  background-color: #009fdf;
}
.To-do-icon {
  margin-left: 1rem;
  text-decoration: none;
  color: rgb(223, 223, 223);
  font-weight: 500;
}

.search-bar {
  padding: 0.3rem 1.5rem;
  border-radius: 3px;
  background-image: url("search-icon.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 5px 5px;
  border: none;
  outline: none;
}

/* .search-bar:focus{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
} */

.light-dark-mode {
  margin-right: 1rem;
  font-size: 24px;
  cursor: pointer;
}
