main {
  flex: 1 1 auto;
}

.setting-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0.3rem;
}

.setting {
  display: flex;
  align-items: center;
}



.task-container,
.todo-list-container {
  padding: 1.2rem 2rem 0 1.2rem;
  flex-direction: column;
  display: flex;
}

.task-input-container{
  display: flex;
}

.task-input {
  padding: 1rem 0.5rem 1rem 3rem;
  flex: 1 1 auto;
  outline: none;
  border: none;
  box-shadow: 0px 0px 1px 0px rgb(0, 0, 0);
}

.task-input::placeholder {
  color: #009fdf;
  transition: 0.3s;
}

.task-input:focus::placeholder {
  color: #3d3d3d;
  transition: 0.3s;
}

.task-options-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  margin: 0;
  border-top: 1px solid #e4e4e4;
  box-shadow: 0px 0px 1px 0px rgb(0, 0, 0);
  background-color: #FAF9F8;

}

.task-options {
  display: flex;
  align-items: center;
}

.options {
  color: rgb(136, 136, 136);
  display: flex;
  margin-left: 1rem;
  align-items: center;
  font-size: 1.2rem;
  border: none;
  background-color: #FAF9F8;
  cursor: pointer;
}

.options-selected {
  color: rgb(136, 136, 136);
  display: flex;
  margin-left: 1rem;
  align-items: center;
  font-size: 1.2rem;
  border: none;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 0px rgb(0, 0, 0);
  padding : 0.2rem 0.5rem; 

}

.option-selected-text{
  font-size: 0.8rem;
  margin-top : 0.2rem;
  padding-left : 0.2rem;
}

.sub-options-container{

  position: relative;
}

.sub-options {
  display: flex;
  position :absolute;
  top : 1rem;
  left: -8rem;
  flex-direction: column;
  padding : 0;
  background : white;
  z-index : 100px;
  box-shadow: 0px 0px 1px 0px rgb(0, 0, 0);

}

.sub-options h5{
  text-align: center;
  font-weight: 500;
  padding : 0.5rem;
  margin: 0;
  margin-bottom : 0.5rem;
  border-bottom: 1px solid #9a9a9a;
}

.sub-options-items{
  display: flex;
  background : white;
  cursor : pointer;
  color: rgb(76, 76, 76);
  border : none;
  width: 200px; 
  padding: 10px;

}

.sub-options-items:hover{
  background: #c2eeff;
}

.add-btn-null {
  margin-right: 1rem;
  color: rgba(145, 145, 145, 0.87);
  font-weight : 600;
  border: none;
  box-shadow: 0px 0px 1px 0px rgb(0, 0, 0);
  padding: 0.3rem 0.5rem;
  cursor: not-allowed;
  transition: 0.2s ease-in-out;
}
.add-btn{
  margin-right: 1rem;
  color: #31b3e6;
  background-color: white;
  font-weight : 600;
  border: none;
  box-shadow: 0px 0px 1px 0px rgb(0, 0, 0);
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

/* .todo-list-container{
  overflow-y: scroll;
  scroll-behavior: smooth;
} */

.todo-list {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  background-color: white;
  box-shadow: 0px 0px 1px 0px rgb(0, 0, 0);
  margin: 0.5rem 0;
  justify-content: space-between;

}

.circle-icon{
  margin-right : 0.5rem;
  color: #31b3e6;
  cursor : pointer;
}

.todo-container{
  flex-grow: 1;
}

.todo{
  /* must add custom list style  */
  list-style-type: none;
  font-size : 0.9rem;
  margin-left : 0.45rem;
  
}

.todo-btn{
  color: rgb(88, 88, 88);
  font-size : 0.75rem; 
  border : none;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.87);
  
}

.todo-option-btn{
  padding-left : 0.5rem;
  padding-right : 0.2rem;
  margin-bottom : 0.15rem;
  stroke-width : 1px;

}

.dot{
  height: 3px;
  width: 3px;
  background-color: #000000;
  border-radius: 50%;
  margin-left: 0.5rem;
}

.star-btn-container{
  padding-top : 0.4rem;
  margin-right : 0.5rem
}

.star-btn{
  margin: 0 auto;
  color: #31b3e6;
  cursor : pointer;
  border : none;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.87);
}