.side-component {
  background-color: white;
  flex: 0 1 20%;
  height: 94vh;

}
.top-icon {
  padding: 1.9rem 0 1.5rem 2.2rem;
  cursor: pointer;
}

.list {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.items {
  display: flex;
  align-items: center;
  padding: 0.7rem 2rem;
  text-decoration: none;
  color: rgb(33, 33, 33);
}

.icon {
  padding-right: 0.5rem;
}

.items:hover {
  background-color: #cef1ff;
  cursor: pointer;
}
