.side-component {

  background-color: white;
  flex: 0 1 20%;
}
.top-icon {
  padding: 2rem 0 1.5rem 2.5rem;
  cursor: pointer;
}

.list {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.items {
  display: flex;
  align-items: center;
  padding: 0.7rem 2rem;

}

.icon {
  padding-right: 0.5rem;
}

.items:hover {
  background-color: #cef1ff;
  cursor: pointer;
}
